header {
  position: sticky;
  display: flex;
  width: 100%;
  background-color: var(--white);
  border-bottom: 0.5px solid var(--gray-100);
  height: 8.8rem;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 2077;
  .container {
    .logo {
      h3 {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        color: #040506;
      }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      max-width: 51rem;
      ul {
        display: flex;
        align-items: center;
        gap: 5rem;
        a {
          transition: all 0.3s;
          position: relative;
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          color: var(--gray-900);
          line-height: 1.9rem;
          text-align: center;
          padding-bottom: 1rem;
          &::after {
            content: "";
            background-color: var(--primary);
            position: absolute;
            width: 20px;
            height: 6px;
            bottom: -30%;
            left: 50%;
            opacity: 0;
            transition: 0.4s ease;
            transform: translate(-50%, -50%);
            border-radius: 8px;
          }
          &:hover {
            color: var(--gray-900);
            &::after {
              opacity: 0.9;
              bottom: -50%;
            }
          }
          &.active {
            color: var(--primary);
            &::after {
              opacity: 0.9;
              bottom: -50%;
            }
          }
        }
      }
      .language {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        p {
          text-transform: uppercase;
          font-family: "Inter";
          font-weight: 400;
          font-size: 1.4rem;
          color: var(--gray-900);
        }
        a {
          color: var(--gray-900);
          display: flex;
          align-items: center;
          transition: 0.3s;
          gap: 0.4rem;
        }
        span {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 150%;
          color: var(--gray-900);
          text-transform: uppercase;
          transition: all 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .menu-mobile {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

.menu-opened {
  @media (max-width: 810px) {
    .menu-mobile {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

@media (max-width: 470px) {
  header {
    .container {
      nav {
        .language {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  header {
    .menu-mobile {
      display: block;
      position: fixed;
      background-color: rgb(4, 5, 6);
      width: 100%;
      height: calc(100% - 88px);
      left: 0;
      bottom: 0;
      padding: 40px 15px;
      transform: translateY(100%);
      opacity: 0;
      transition: 0.5s;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        li {
          a {
            color: #fff;
            font-size: 28px;
          }
        }
      }
    }
    .container {
      nav {
        justify-content: flex-end;
        ul {
          display: none;
        }
      }
    }
    .hamburger {
      display: block;
    }
  }
}
