:root {
  //Primary Coloers
  --primary: #0096c7;
  --secondary: #c9d6df;
  --auxiliary: #52616b;
  --auxiliary02: #1e2022;

  //White background
  --white: #ffffff;

  // Gradient
  --brand-gradient: linear-gradient(115.6deg, #000811 -7.5%, #000e17 105.49%);
  // Gray Colors
  --gray-900: #030e15;
  --gray-800: #2d3235;
  --gray-700: #4f5152;
  --gray-600: #78797a;
  --gray-500: #9a9d9e;
  --gray-400: #babcbd;
  --gray-300: #c6c7c8;
  --gray-200: #dadcdd;
  --gray-100: #f6f6f6;
  --gray-50: #f9fafb;
}
